body{

  font-family: birthday;
  background-image: url("https://media.istockphoto.com/id/527726305/photo/glitter-sparkling-backdrop-gold-and-silver.jpg?s=170667a&w=0&k=20&c=sElodjlHkHZlftbxjAynUXLK23OqUepVTPB1E0JKbjo=");
  background-repeat: no-repeat;
  background-size: cover;
}

.titleapp {
  font-family: birthday;
  font-size: 200px;
  color: rgb(149, 107, 0);
  border: black 2px;
}

.navbar{
  list-style-type: none;
  padding: 20px;
}

.navbar a:hover {
  background-color: rgba(178, 178, 178, 0.584);
}

#navb{
  font-family: birthday;
  font-size: x-large;

}

#details a:hover {
  background-color: rgba(178, 178, 178, 0.584);
}

#sidemenu a:hover {
  background-color: rgba(178, 178, 178, 0.584);
}

#btnprimary {
  color: grey;
  border-radius: 5%;
}

#btndelete {
  color: rgb(255, 0, 0);
}
